html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;

}

nav {
    display: flex;
    flex-flow: row;
    height: 10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: outset;
    margin: 10px 10px 10px 10px;
}

section {
    display: flex;
        flex-wrap: wrap;
    height: 40vh;
    border: 3px solid red;
}
aside {
    background-image: url(images/celesteamarillo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
}
header {
    border: 3px solid pink;
    margin: 10px;
    text-align: center;
    width: 100%;
}

.BlackJack {
	font-family: BlackJack;
}

article {
    border: 3px solid pink;
    margin: 10px;
    width: 70%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    padding-right: 40px;
}

.nav_logo {
    padding-left: 20px;
    height: 15vh;
}

.navitem {
    align-self: center;
    padding: 16px 16px;
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
}

.logo {
    height: 9vh;
}

footer {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

/* Paleta de Colores

/* CSS HEX */
/* --maximum-blue-green: #28B6C4ff;
--cerise: #E83669ff;
--black: #000000ff;
--black-2: #000000ff;
--china-pink: #DF6EA8ff;
--white: #FFFFFFff;
--raisin-black: #2C2636ff;
--blush: #E85474ff;
--paolo-veronese-green: #039874ff;
--russian-violet: #2E2454ff; */

/* SCSS RGB */
/* $maximum-blue-green: rgba(40, 182, 196, 1);
$cerise: rgba(232, 54, 105, 1);
$black: rgba(0, 0, 0, 1);
$black-2: rgba(0, 0, 0, 1);
$china-pink: rgba(223, 110, 168, 1);
$white: rgba(255, 255, 255, 1);
$raisin-black: rgba(44, 38, 54, 1);
$blush: rgba(232, 84, 116, 1);
$paolo-veronese-green: rgba(3, 152, 116, 1);
$russian-violet: rgba(46, 36, 84, 1);
 */