html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {

    width: 100%;
    background: rgb(114, 191, 206);
    background: linear-gradient(90deg, rgba(114, 191, 206, 0.3508753843334209) 70%, rgba(59, 39, 111, 0.15199583251269255) 99%);
}

nav {
    display: flex;
    flex-flow: row;
    height: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: outset;
    margin: 10px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    padding-right: 40px;
}

.nav_logo {
    padding-left: 20px;
    height: 15%;
}

.navitem {
    align-self: center;
    padding: 16px 16px;
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    flex-basis: 2;
}

.logo {
    display: flex;
    height: 9vh;
    flex-basis: 1;
}

h1 {
    display: block;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.5em;
    margin-bottom: 30px;
}

h4 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.5em;
}

h5 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.3em;
}

p {
    text-indent: 2em;
    text-align: justify;
}

p::first-letter {
    font-size: 1em;
    font-weight: bold;
}

li {
    list-style: none;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 95%;
    max-width: 800px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: outset;
    border-radius: 20px;
    z-index: 1;
}

.section2 {
    display: flex;

    background-color: white;
    width: 95%;
    max-width: 800px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: outset;
    border-radius: 20px;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 95%;
    max-width: 800px;
    border-style: outset;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    scroll-margin: 15px;
    border-radius: 20px;

}

.content {
    height: 400px;
    overflow: auto;
    overflow-y: 0;
    
}

.content::-webkit-scrollbar {
    width: 0.5em;
}
.avatar {
    margin: 3px;

}

h4 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.5em;
}

h5 {
    width: 100%;
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.3em;
width: 100%;
text-align: center;

}

.social {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    width: 100%;
}

.sec1a {

    font-family: Tahoma, sans-serif;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.sec1b {
    font-family: Tahoma, sans-serif;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.sec1c {
    display: table-column;
    font-family: Tahoma, sans-serif;
    border-radius: 10px;
    border: solid 3px rgba(114, 191, 206, 0.3);
    border: solid 3px rgba(114, 191, 206, 0.3);
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    width: 30%;
    min-height: 250px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.galeria {
    height: calc( 300px + 3em);
    width: 260px;
    margin:1em auto;
    border: 1px solid #555;
    position: relative;  
  }
  
  .galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
  }
  
  .galeria input[type=radio] {
    position: relative;
    bottom: calc(-300px - 1.5em);
    left: .5em;
  }
  
  .galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  .galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }
  .galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
    opacity: 1;
  }
  .galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
    opacity: 1;
  }
 

  .contacto {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: red;
  }

  .contacto input{

      width: 100%;
      background-color: blue;
  }

  .formulario{
      display: flex;
      flex-direction: column;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .formulario div{
      display: block;
  }
  form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    height: 1.8em;
  }
  form textarea {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    
  }
  form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
    margin: 10px;
    border-radius: 10px;
    background-color: lightcoral;
    font-weight: bolder;
  }
  form button:hover {
    background: lightcoral;
  }
  
  label {
    text-align: left;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }
  

  form input:focus {
    outline: 3px solid lightcoral;
  }
footer {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

footer a{
    color: lightslategray;}

@media screen and (max-width:880px) {


    nav {
        display: flex;
        flex-flow: row;
        position: fixed;
        width: 95%;
        height: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-style: outset;
        margin: 10px 10px 10px 10px;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .section1 {
        margin-top: 100px;
    }

    h1 {
        display: inline-block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navitem {
        display: block;
        padding: 0px;
        font-family: Tahoma, sans-serif;
        font-style: oblique;
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 1em;
    }
}