html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {

    width: 100%;
    background: rgb(114, 191, 206);
    background: linear-gradient(90deg, rgba(114, 191, 206, 0.3508753843334209) 70%, rgba(59, 39, 111, 0.15199583251269255) 99%);
}

nav {
    display: flex;
    flex-flow: row;
    height: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: outset;
    margin: 10px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    padding-right: 40px;
}

.nav_logo {
    padding-left: 20px;
    height: 15%;
}

.navitem {
    align-self: center;
    padding: 16px 16px;
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    flex-basis: 2;
}

.logo {
    display: flex;
    height: 9vh;
    flex-basis: 1;
}

h1 {
    display: block;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.5em;
    margin-bottom: 30px;
}

h4 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.5em;
}

h5 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.3em;
}

p {
    text-indent: 2em;
    text-align: justify;
}

p::first-letter {
    font-size: 1em;
    font-weight: bold;
}

li {
    list-style: none;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 95%;
    max-width: 800px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: outset;
    border-radius: 20px;
    z-index: 1;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 95%;
    max-width: 800px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: outset;
    border-radius: 20px;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 95%;
    max-width: 800px;
    border-style: outset;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    scroll-margin: 15px;
    border-radius: 20px;

}

.content {
    height: 400px;
    overflow: auto;
    overflow-y: 0;
}

.avatar {
    margin: 3px;

}

h4 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.5em;
}

h5 {
    font-family: Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    font-size: 1.3em;
}

.social-links {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    width: 100%;
}

.sec1a {

    font-family: Tahoma, sans-serif;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.sec1b {
    font-family: Tahoma, sans-serif;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.sec1c {
    display: table-column;
    font-family: Tahoma, sans-serif;
    border-radius: 10px;
    border: solid 3px rgba(114, 191, 206, 0.3);
    border: solid 3px rgba(114, 191, 206, 0.3);
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    width: 30%;
    min-height: 250px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

footer {
    margin: 10px 10px 10px 10px;
    text-align: center;

}

@media screen and (max-width:880px) {


    nav {
        display: flex;
        flex-flow: row;
        position: fixed;
        width: 95%;
        height: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-style: outset;
        margin: 10px 10px 10px 10px;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .section1 {
        margin-top: 100px;
    }

    h1 {
        display: inline-block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navitem {
        display: block;
        padding: 0px;
        font-family: Tahoma, sans-serif;
        font-style: oblique;
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 1em;
    }
}